@media (max-width: 1200px) {
    /* ABOUT PAGE */
    .about-content h1::after {
        width: 8%;
    }
    .title h1:after {
        width: 9%;
    }
    .education h4:after {
        width: 24.5%;
    }
    .experience h4:after {
        width: 27.5%;
    }
    /* WORK PAGE */
    .work-heading:after {
        left: 20px;
        top: 180px;
        width: 13%;
    }
    /* CONTACT PAGE */
    .contact-heading:after {
        left: 20px;
        top: 180px;
        width: 13%;
    }
    /* SERVICE PAGE */
    .service-title h1:after {
        width: 13%;
    }
}

@media (max-width: 1024px) {
    /* ABOUT PAGE */
    .about-content h1::after {
        width: 9%;
    }
    .title h1:after {
        width: 11%;
    }
    .education h4:after {
        width: 29%;
    }
    .experience h4:after {
        width: 33%;
    }
    /* WORK PAGE */
    .work-heading:after {
        left: 34px;
        top: 180px;
        width: 15%;
    }
    /* CONTACT PAGE */
    .contact-heading:after {
        left: 30px;
        top: 180px;
        width: 15.5%;
    }
    /* SERVICE PAGE */
    .service-title h1:after {
        width: 15%;
    }
}

@media (max-width: 768px) {
    /* ABOUT PAGE */
    .about-content {
        /* border: 1px solid red; */
        padding-left: 30px;
        padding-right: 30px;
    }
    .about-content h1::after {
        width: 8%;
        top: 15px;
        left: 44px;
    }
    #skill-section {
        padding-left: 30px;
        padding-right: 30px;
    }
    .title h1:after {
        width: 11%;
        top: 15px;
    }
    #education-experience {
        padding-left: 30px;
        padding-right: 30px;
    }
    .education h4:after {
        width: 14.5%;
        top: 13px;
    }
    .experience h4 {
        margin-top: 70px;
    }
    .experience h4:after {
        width: 16%;
        top: 13px;
    }
    .advertise h2 {
        font-size: 20px;
        margin-top: 35px;
    }
    /* WORK PAGE */
    /* #work {
        padding-left: 30px;
        padding-right: 30px;
    } */
    .work-heading:after {
        left: 13px;
        top: 180px;
        width: 21%;
    }
    .row-space {
        display: flex;
        flex-direction: column;
    }
    .row-space .work-img {
        /* border: 1px solid red; */
        order: 1;
        width: 100%;
        margin-top: 50px;
    }
    .row-space .work-content {
        /* border: 1px solid blue; */
        order: 2;
        width: 100%;
    }
    /* CONTACT PAGE */
    #contact>.container {
        display: flex;
        flex-direction: column;
    }
    #contact>.container .contact-form {
        /* border: 1px solid red; */
        order: 2;
        width: 100%;
        margin-top: 50px;
    }
    #contact>.container .contact-details {
        /* border: 1px solid blue; */
        order: 1;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .contact-heading:after {
        left: 15px;
        top: 180px;
        width: 20%;
    }
    /* SERVICE PAGE */
    .service-title h1:after {
        width: 15%;
    }
    .service-card {
        padding: 20px;
    }
}

@media (max-width: 640px) {
    /* ABOUT PAGE */
    .about-content {
        /* border: 1px solid red; */
        padding-left: 30px;
        padding-right: 30px;
    }
    .about-content h1::after {
        width: 10%;
        top: 15px;
        left: 44px;
    }
    #skill-section {
        padding-left: 30px;
        padding-right: 30px;
    }
    .title h1:after {
        width: 13%;
        top: 15px;
    }
    #education-experience {
        padding-left: 30px;
        padding-right: 30px;
    }
    .education h4:after {
        width: 17.5%;
        top: 13px;
    }
    .experience h4 {
        margin-top: 70px;
    }
    .experience h4:after {
        width: 19.5%;
        top: 13px;
    }
    .advertise h2 {
        font-size: 20px;
        margin-top: 35px;
    }
    /* WORK PAGE */
    /* #work {
        padding-left: 30px;
        padding-right: 30px;
    } */
    .work-heading:after {
        left: 13px;
        top: 180px;
        width: 25%;
    }
    .row-space {
        display: flex;
        flex-direction: column;
    }
    .row-space .work-img {
        /* border: 1px solid red; */
        order: 1;
        width: 100%;
        margin-top: 50px;
    }
    .row-space .work-content {
        /* border: 1px solid blue; */
        order: 2;
        width: 100%;
    }
    /* CONTACT PAGE */
    #contact>.container {
        display: flex;
        flex-direction: column;
    }
    #contact>.container .contact-form {
        /* border: 1px solid red; */
        order: 2;
        width: 100%;
        margin-top: 50px;
    }
    #contact>.container .contact-details {
        /* border: 1px solid blue; */
        order: 1;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding-left: 5px;
    }
    .contact-heading:after {
        left: 15px;
        top: 180px;
        width: 24%;
    }
    /* SERVICE PAGE */
    .service-title h1:after {
        width: 16.5%;
    }
    .service-card {
        padding: 20px;
    }
}

@media (max-width: 480px) {
    /* ABOUT PAGE */
    .about-content {
        /* border: 1px solid red; */
        padding-left: 30px;
        padding-right: 30px;
    }
    .about-content h1::after {
        width: 13.5%;
        top: 15px;
        left: 44px;
    }
    #skill-section {
        padding-left: 30px;
        padding-right: 30px;
    }
    .title h1:after {
        width: 18%;
        top: 15px;
    }
    #education-experience {
        padding-left: 30px;
        padding-right: 30px;
    }
    .education h4:after {
        width: 24.5%;
        top: 13px;
    }
    .experience h4 {
        margin-top: 70px;
    }
    .experience h4:after {
        width: 26.5%;
        top: 13px;
    }
    .advertise {
        display: block;
        text-align: center;
    }
    .advertise a {
        float: none;
        margin-top: 10px;
        width: 50%;
    }
    .advertise h2 {
        font-size: 20px;
        margin-top: 35px;
    }
    /* WORK PAGE */
    /* #work {
        padding-left: 30px;
        padding-right: 30px;
    } */
    .work-heading:after {
        left: 13px;
        top: 180px;
        width: 33%;
    }
    .row-space {
        display: flex;
        flex-direction: column;
    }
    .row-space .work-img {
        /* border: 1px solid red; */
        order: 1;
        width: 100%;
        margin-top: 50px;
    }
    .row-space .work-content {
        /* border: 1px solid blue; */
        order: 2;
        width: 100%;
    }
    /* CONTACT PAGE */
    #contact>.container {
        display: flex;
        flex-direction: column;
    }
    #contact>.container .contact-form {
        /* border: 1px solid red; */
        order: 2;
        width: 100%;
        margin-top: 50px;
    }
    #contact>.container .contact-details {
        /* border: 1px solid blue; */
        order: 1;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding-left: 5px;
    }
    .contact-heading:after {
        left: 15px;
        top: 180px;
        width: 33%;
    }
    /* SERVICE PAGE */
    .service-title h1:after {
        width: 22%;
    }
    .service-card {
        padding: 20px;
    }
}

@media (max-width: 320px) {
    /* ABOUT PAGE */
    .about-content {
        /* border: 1px solid red; */
        padding-left: 10px;
        padding-right: 10px;
    }
    .about-content h1::after {
        width: 20%;
        top: 15px;
        left: 24px;
    }
    #skill-section {
        padding-left: 10px;
        padding-right: 10px;
    }
    .title h1:after {
        width: 26.5%;
        top: 15px;
    }
    #education-experience {
        padding-left: 10px;
        padding-right: 10px;
    }
    .education h4:after {
        width: 35.5%;
        top: 13px;
    }
    .experience h4 {
        margin-top: 70px;
    }
    .experience h4:after {
        width: 38.5%;
        top: 13px;
    }
    .advertise {
        display: block;
        text-align: center;
    }
    .advertise a {
        float: none;
        margin-top: 10px;
        width: 50%;
    }
    .advertise h2 {
        font-size: 20px;
        margin-top: 35px;
    }
    /* WORK PAGE */
    /* #work {
        padding-left: 30px;
        padding-right: 30px;
    } */
    .work-heading:after {
        left: 13px;
        top: 180px;
        width: 52%;
    }
    .row-space {
        display: flex;
        flex-direction: column;
    }
    .row-space .work-img {
        /* border: 1px solid red; */
        order: 1;
        width: 100%;
        margin-top: 50px;
    }
    .row-space .work-content {
        /* border: 1px solid blue; */
        order: 2;
        width: 100%;
    }
    /* CONTACT PAGE */
    #contact>.container {
        display: flex;
        flex-direction: column;
    }
    #contact>.container .contact-form {
        /* border: 1px solid red; */
        order: 2;
        width: 100%;
        margin-top: 50px;
    }
    #contact>.container .contact-details {
        /* border: 1px solid blue; */
        order: 1;
        width: 100%;
        display: block;
        justify-content: space-evenly;
        padding-left: 5px;
    }
    .contact-heading:after {
        left: 15px;
        top: 180px;
        width: 50%;
    }
    /* SERVICE PAGE */
    .service-title h1:after {
        width: 34%;
    }
    .service-card {
        padding: 20px;
    }
    .col-xs-6 {
        width: 100%;
    }
}