*{
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Poppins";
}

h1,h2,h3,h4,h5,h6,p{
    
    font-family: "Roboto Mono",sans-serif;
}

.nav-inner{
    
/*    border: 1px solid purple;*/
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 50px;
    width: 100%;
/*    align-items: center;*/
}

.brand-logo{
    
/*    border: 1px solid red;*/
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
}

.brand-logo span{
    
    font-family: "Roboto Mono",sans-serif;
    margin-top: 9px;
/*    border: 1px solid yellow;*/
    font-weight: bold;
    letter-spacing: 2px;
}

.btn-box{
    
/*    border: 1px solid blue;*/
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    
}

.overlay{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #283040;
    z-index: 1;
    margin: 0px;
    padding: 0px;
    transition: all ease-in-out 0.3s;
    
}

.close-btn-box{
    
/*    border: 1px solid red;*/
    margin-top: 50px;
    text-align: center;
}

.overlay .overlay-content .close-btn{
    
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    color: whitesmoke;
    transition: .3s;
}

.overlay .overlay-content .close-btn:hover{
    
    color: darkorange;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.nav-links{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    text-align: center;
}

.nav-links li{
    
    padding: 20px 20px;
}

.nav-links li a{
    
    text-decoration: none;
    font-family: "Roboto Mono",sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    color: whitesmoke;   
}

.nav-links li a:hover{
    
    text-decoration-line: line-through;
    text-decoration-style: solid;
    text-decoration-color: darkorange;
}


/*MAIN SECTION*/

main{
    
    background-color: #283040;
    color: whitesmoke;
}

.intro{
    
/*    text-align: left !important;*/
/*    border: 1px solid red !important;*/
/*    padding-left: 100px;*/
}

.inner{
    
    text-align: center;
    border: 1px solid #ddd;
    margin-left: -15px;
    margin-right: -15px;
/*    width: 100%;*/
    height: 250px;
    display: block;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.inner h2{
    
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}

.inner a{
    
    text-decoration: none;
    font-family: "Roboto Mono",sans-serif;
    color: white;
}

.inner .img-box{
    
    margin-top: 50px;
}